body{
    background-color: pink;
    background-image: url(be-your-youtube-channel-growth-manager-video-seo-expert.jpg);
    background-attachment:fixed ;
    background-repeat: no-repeat;
    background-position: right top;
        
       
        /*background: blue url(Metropolitan-University-Sylhet.jpg) right top no-repeat fixed;*/
       
    }